In [1]:
import pandas as pd
import os

In [4]:
name = ['HGG', 'LGG']
path = 'MICCAI_BraTS_2019_Data_Training'

data_csv = {'Grade': [], 'BraTS_2019_subject_ID': []}

for cls in name:
    dirs = os.listdir(os.path.join(path, cls))
    cls_list = [cls]*len(dirs)
    
    data_csv['Grade'] += cls_list
    data_csv['BraTS_2019_subject_ID'] += dirs

data_csv = pd.DataFrame(data_csv)

In [5]:
data_csv

    Grade BraTS_2019_subject_ID
0     HGG     BraTS19_2013_10_1
1     HGG     BraTS19_2013_11_1
2     HGG     BraTS19_2013_12_1
3     HGG     BraTS19_2013_13_1
4     HGG     BraTS19_2013_14_1
..    ...                   ...
330   LGG  BraTS19_TCIA13_645_1
331   LGG  BraTS19_TCIA13_650_1
332   LGG  BraTS19_TCIA13_653_1
333   LGG  BraTS19_TCIA13_654_1
334   LGG   BraTS19_TMC_09043_1

[335 rows x 2 columns]

In [6]:
data_csv.to_csv('Name_and_tag.csv')

In [7]:
data_csv.head(334)

    Grade BraTS_2019_subject_ID
0     HGG     BraTS19_2013_10_1
1     HGG     BraTS19_2013_11_1
2     HGG     BraTS19_2013_12_1
3     HGG     BraTS19_2013_13_1
4     HGG     BraTS19_2013_14_1
..    ...                   ...
329   LGG  BraTS19_TCIA13_642_1
330   LGG  BraTS19_TCIA13_645_1
331   LGG  BraTS19_TCIA13_650_1
332   LGG  BraTS19_TCIA13_653_1
333   LGG  BraTS19_TCIA13_654_1

[334 rows x 2 columns]